@media (max-width: 952px) {
    .container{
       width: 100%; 
    }
    .header__bottom {
        flex-direction: column;
        margin: 0;
    }
    .header__title{
        text-align: center;
    }
    .header__desc{
        text-align: center;
    }
    .header__button{
        margin-left: 196px;
    }
    .main__page{
        flex-direction: column;
        margin-left: 34px;
    }
    .main_page{
        flex-direction: column;
    }
    .about__img-right{
        display: none;
    }
    .about__img-left{
        display: none;
    }
    .main{
        padding-bottom: 50px;
    }
    .about_img{
        display: none;
    }
    .about__page{
        margin: 0 auto;
        padding-left: 10px !important;
        padding-right: 10px !important;
        border-radius: 15px;
    }
    .card__images{
        display: none;
    }
    .row__card {
        width:  496px;
        margin: 0;
    }
    .footer__inners {
        flex-direction: column;
    }
    .footer__web{
        margin: 0;
    }
    .footer__link{
        text-align: center;
    }
    .header__bottom {
        margin-top: -113px;
    }
    .header__button{
        margin: 0;
        margin-left: 82px;
    }
    .main__card{
        margin: 0;
        margin-bottom: 20px;
    }
    .main_page{
        margin: 0;
        margin-left: 34px;
    }
    .main_card{
        margin: 0;
        margin-bottom: 20px;
    }
    .navbar-link{
        margin: 0;
    }
    .about__page{
        width: auto;
        padding: 0;
        padding-top: 25px;
    }
    .about__text{
        text-align: none;
    }
    .row__card {
        width: auto;
        margin-left: 10px;
    }
    .row__word{
        margin: 0;
        text-align: none;
        margin-bottom: 20px;
    }
    .row__desc{
        margin: 0;
        margin-bottom: 20px;
    }
    .row-link{
        margin: 0;
        margin-left: 106px;
        margin-top: 20px;
    }
    .footer__menu{
        margin-left: 70px;
        margin-bottom: 20px;
    }
    .footer__web{
        margin-left: 70px;
        margin-bottom: 20px;
    }
    .logo{
        margin-left: 81px;
    }
}